body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.a-red,
.a-red:visited,
.a-red:hover {
    color: #f30;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.entry,
.step-detail {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 100%;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.entry:hover,
.step-detail:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.entry .entry-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.entry .entry-content .timespan {
    position: absolute;
    top: -34px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.entry .entry-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}

.entry .entry-content .position {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400;
}

.entry .entry-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}

.entry .entry-content .place {
    margin: 30px 0 0;
    color: #999999;
}

.entry .entry-content .place .place-span {
    margin: 0 16px 0 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}


/**/

span.header-bracket {
    font-size: 4rem;
}

hr.slashed-hr {
    height: 6px;
    background: url(../assets/slashed-hr.png) repeat-x 0 0;
    border: 0;
}

#intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
}

.intro__overline {
    font-size: 1.4rem;
}

.intro__hed {
    font-size: 3rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.intro__dek {
    font-size: 1.4rem;
}

#intro {
    margin-bottom: 320px;
}

#outro {
    height: 640px;
}


/* scrollama */

#scroll {
    position: relative;
    /*Comment the border properties if needed*/
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

.scroll__graphic {
    position: -webkit-sticky;
    position: sticky;
    float: right;
    top: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.chart {
    position: absolute;
    right: 1rem;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /*background-color: #ddd;*/
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
    width: 33%;
}

.step {
    margin: 2rem auto;
}

.step.is-active {
    background-color: lightgoldenrodyellow;
}

@media screen and (max-height: 650px) {
    .chart {
        top: 35%;
    }
}